.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
.Rapp.history
backup_local_db/backup.sql
race_tiles_map/*
.dcf
shiny-app/.dbf

shiny-app/.prj
shiny-app/temp/test.json
shiny-app/.shx

shiny-app/.shp

shiny-app/rsconnect/shinyapps.io/velaraptor/gerrys_world.dcf

db_files/cb_2016_48_sldl_500k.zip

db_files/cb_2016_48_sldu_500k.zip

db_files/cb_2016_48_tract_500k/cb_2016_48_tract_500k.shp.xml

db_files/cb_2016_48_tract_500k/cb_2016_48_tract_500k.shp.iso.xml

db_files/cb_2016_48_tract_500k/cb_2016_48_tract_500k.shp.ea.iso.xml

db_files/cb_2016_us_cd115_500k/cb_2016_us_cd115_500k.shp.iso.xml

*.xml

db_files/test.json
shiny-app/temp/test.json
rdata/map_file.RData
shiny-app/tempdir/
shiny-app/www/.DS_Store
.DS_Store
colorout/
shiny-app/ix.RData
*.sublime-workspace
gerrys_world.sublime-project
shiny-app/rsconnect/shinyapps.io/christophvel/gerrys_world.dcf
shiny-app/temp/test.json
